<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cartoonize
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item color="tertiary" lines="outline">
    <ion-label>Cartoonize uma foto!!!</ion-label>
  </ion-item>

    <div class="inputoutput">
      <div *ngIf="imagemString != ''">
        <img style="display:none;" #imagem [src]="imagemString" alt="">
      </div>
      <div class="canvas">
        <canvas #canvas></canvas>
      </div>
      <div class="alerta-aguarde" *ngIf="requisitando">
        <p>Aguarde...</p>
      </div>
    </div>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallary()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<script>
  console.log('olha só! um script!')
</script>
